download/making-home-assistants-presence-detection-not-so-binary-node-red-version-v5.json
[{"id":"342cda89.b20556","type":"switch","z":"c598019a.855be","name":"Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":210,"wires":[["71ff2901.251658","9ff4cfac.adc52","3890d0bc.f0f81"],["d8650971.a262d8","308ba530.af475a"]]},{"id":"71ff2901.251658","type":"api-current-state","z":"c598019a.855be","name":"Status?","version":1,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":190,"wires":[["49ecf802.4eadc8"],["25740c5b.b98784"]]},{"id":"38dfb8fa.dff348","type":"api-call-service","z":"c598019a.855be","name":"Just Left","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":230,"wires":[["9ff4cfac.adc52"]]},{"id":"49ecf802.4eadc8","type":"api-call-service","z":"c598019a.855be","name":"Just Arrived","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":170,"wires":[["308ba530.af475a"]]},{"id":"b0a2df83.72ad","type":"api-call-service","z":"c598019a.855be","name":"Away","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":230,"wires":[["3890d0bc.f0f81"]]},{"id":"f970e800.83f528","type":"api-call-service","z":"c598019a.855be","name":"Extended Away","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":230,"wires":[[]]},{"id":"9ff4cfac.adc52","type":"trigger","z":"c598019a.855be","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"home","bytopic":"topic","name":"10min","x":750,"y":230,"wires":[["b0a2df83.72ad"]]},{"id":"3890d0bc.f0f81","type":"trigger","z":"c598019a.855be","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"home","bytopic":"topic","name":"24hr","x":990,"y":230,"wires":[["f970e800.83f528"]]},{"id":"308ba530.af475a","type":"trigger","z":"c598019a.855be","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"not_home","bytopic":"topic","name":"10min","x":750,"y":170,"wires":[["25740c5b.b98784"]]},{"id":"25740c5b.b98784","type":"api-call-service","z":"c598019a.855be","name":"Home","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":190,"wires":[[]]},{"id":"45ac56a1.623de8","type":"trigger-state","z":"c598019a.855be","name":"Person","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"id":"5ucago3uur","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"prevEntity","comparatorValue":"state"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":210,"wires":[["885ee62b.a78f68"],[]]},{"id":"d8650971.a262d8","type":"api-current-state","z":"c598019a.855be","name":"Status?","version":1,"outputs":2,"halt_if":"Just Left,Away, Extended Away","halt_if_type":"str","halt_if_compare":"does_not_include","override_topic":false,"entity_id":"input_select.{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":230,"wires":[["38dfb8fa.dff348"],[]]},{"id":"885ee62b.a78f68","type":"change","z":"c598019a.855be","name":"Change","rules":[{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"person_","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":225,"y":210,"wires":[["342cda89.b20556"]],"l":false}]